<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8" />
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% stylesheets '../app/Resources/public/scss/*' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
      {% block stylesheets %}{% endblock %}
      <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="{% block body_class %}{% endblock %}">

    <div class="container">

      <header class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <img src="{{ asset('img/logo.png') }}"
                 class="img-responsive"
                 alt="thechur.ch" />
        </div>
      </header>

      <div class="row">
        <div class="col-xs-12">

          {% if app.session.flashbag.peekall %}
            <div class="messages">
              {% for type, messages in app.session.flashbag.all %}
                <div class="bg-{{ type }}">
                  {% for message in messages %}
                    <div class="message">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">

          {% block body %}
            <div class="content">
              {% block content %}{% endblock %}
            </div>
          {% endblock %}

        </div>
      </div>

    </div>

    {% block javascripts %}{% endblock %}
  </body>
</html>
