{% extends '::user/layout.html.twig' %}

{% block content %}
  <div class="statement">
    <p>
      I, <strong>{{ user.firstname }} {{ user.lastname }}</strong>, believe in
      one God, the Father, the Almighty, maker of heaven and earth, of all that
      is seen, and unseen.
    </p>
    <p>
      I believe in one Lord, Jesus Christ, the only son of God, eternally
      begotten of the Father, God from God, Light from Light, true God from true
      God, begotten, not made, of one being with the Father. Through him all
      things were made. For us and for our salvation he came down from heaven:
      by the power of the Holy Spirit he became incarnate from the Virgin Mary,
      and was made man. For our sake he was crucified under Pontius Pilate; he
      suffered death and was buried. On the third day he rose again in
      accordance with the Scriptures; he ascended into heaven and is seated at
      the right hand of the Father. He will come again in glory to judge the
      living and the dead, and his kingdom will have no end.
    </p>
    <p>
      I believe in the Holy Spirit, the Lord, the giver of life, who proceeds
      from the Father [and the Son]. With the Father and the Son he is worshiped
      and glorified. He was spoken through the Prophets.
    </p>
    <p>
      I believe in one holy united and apostolic Church. I acknowledge one
      baptism for the forgiveness of sins. I look for the resurrection of the
      dead, and the life of the world to come.
    </p>
  </div>
  <form action="{{ path('user_faith') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}

      <input type="submit" class="btn btn-default btn-block" value="Continue" />
  </form>
{% endblock %}
